.sidebar {
  width: 201px;
  min-height: 100vh;
  background: white;
  overflow: hidden;
}

/* LOGO */
.logo-container {
  height: 57px;
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 64px;
  height: 64px;
}

.logo-text {
  width: 117px;
  text-align: center;
  color: #6058cf;
  font-size: 22px;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
}

/* SECCIONES */
.sidebar-section {
  margin-top: 70px;
  padding-left: 10px;
}

.section-title {
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.section-title.secondary {
  color: #8d8383;
}

/* ITEMS */
.nav-item {
  display: block;
  width: 161px;
  padding: 7px 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-item:hover {
  color: #6058cf;
}
.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}